#navbar {
  background-color: #333;
  overflow: hidden;
}

#navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

#navbar ul li {
  float: left;
}

#navbar ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar ul li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}


.texto {
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.productos-container {
  display: flex;
  flex-wrap: wrap;
}

.producto {
  flex-basis: 30%;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.producto img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .producto {
    flex-basis: 45%;
  }
}

body {
  background-image: url("fondo-estrellas.gif");
  text-align: center;
}
.box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #7e7c7c91;
  display: inline-block;
}
.box h1 {
  margin-top: 0;
}
.box h2 {
  margin-top: 0;
}
.box1 {
  width: 200px;
  height: 200px;
}


.descripcion {
  display: none;
  margin-top: 10px;
  font-style: italic;
}

/* Tema claro */
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

/* Tema obscuro */
body.dark-theme {
  background-color: #222222;
  color: #ffffff;
}
