/*Comentario*/

h1{
    color: rgb(255, 251, 0);
    text-align: center;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}


h2{
    color: rgb(97, 236, 84);
    text-align: center;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}


h3{
    color: rgb(255, 255, 255);
    text-align: center;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}


h4{
    color: rgb(255, 251, 0);
    text-align: center;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}

h5{
    color: rgb(12, 240, 221);
    text-align: center;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}

h6{
    color: rgb(12, 240, 221);
    text-align: left;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}

h7{
    color: rgb(229, 255, 0);
    text-align: left;
    font-size: large;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}


h8{
    color: rgb(0, 255, 85);
    text-align: left;
    font-size: large;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}


h9{
    color: rgb(255, 153, 0);
    text-align: left;
    font-size: large;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}

h10{
    color: rgb(255, 153, 0);
    text-align: right;
    font-size: large;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}


h11{
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: large;
}
a[href^="EXAMEN"]::before{
    content:"▲";
}